
@{
    ViewBag.Title = "Doctor";
    Layout = "~/Views/Shared/_Doctor.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>@ViewBag.Title - Welcome Master</title>
    <style>
        body {
            background-image: url(../../Assets/Img/Doctors.jpg);
            background-size: cover;
        }
        /*body h1{
            color:white;
        }*/
        h1,h4 {
            color: white;
        }
       
        .jumbotron {
            background-color: grey;
        }

        .homebody ul li {
            color: ghostwhite;
        }

        .homebody h4 {
            color: crimson;
            /*text-decoration:solid;*/
            text-decoration-thickness: 50px;
        }
       
        .homebody img {
            height:150px;
            width:300px;
            margin-left:40px;
        }
    </style>
</head>

<body>
    <br />
    <h1> Welcome Doctor !!! </h1>
    <h4> Have a Good Day</h4>
    <div class="homebody">

        <br />
        <hr />
        <h4>My Responsibility to Maintain the data of the Following </h4>
        @*<p>
            The primary duty of all doctors is for the care and safety of patients. Whatever their role, doctors must do the following. Engage with colleagues2 to maintain and improve the safety and quality of patient care. .
        </p>*@
        <ul>
            <li>Prescritions Details </li>
            <li>Diagnosie the Patients</li>
            @*<li>lab Tecnition</li>*@
            @*<li>Register Login Credientials</li>*@
        </ul>
        <h4>My Declaration </h4>
        <ul>
            <li>To Add data after only verification</li>
            <li>No Manipluation of Fake entries</li>
            @*<li>Register Login Credientials only to eligible professionals</li>*@
        </ul>
        <h4>My Roles </h4>
        <ul>
            <li>The primary duty of all doctors is for the care and safety of patients.</li>
            <li>improve the safety and quality of patient care</li>
            <li>Contribute to discussions and decisions about improving the quality of services and outcomes</li>
        </ul>
        <br/>
        @*<img src="~/Assets/Img/Doctor_Thanks.jpg" />*@
    </div>






</body>


</html>

