
@{
    ViewBag.Title = "Receptionist";
    Layout = "~/Views/Shared/_Patient.cshtml";
}
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>@ViewBag.Title - Welcome Master</title>
    <style>
        body {
            background-image: url(../../Assets/Img/Receptionist.jpg);
            background-size: cover;
            
        }
        /*body h1{
            color:white;
        }*/
        h1, h4 {
            color: white;
        }

        .jumbotron {
            background-color: grey;
        }

        .homebody ul li {
            color: white;
        }

        .homebody h4 {
            color: #f23557;
            /*text-decoration:solid;*/
            text-decoration-thickness: 50px;
        }

      /*  .homebody img {
            height: 150px;
            width: 300px;
            margin-left: 40px;
        }*/
    </style>
</head>

<body>
    
    <br />
    <h1> Welcome Receptionist !!! </h1>
    <h4> Have a Good Day</h4>
    <div class="homebody">

        <br />
        <hr />
        <h4>My Responsibility to Maintain the data of the Following </h4>
        <ul>
            <li>Patients</li>
            <li>Appointments</li>
            <li>Manage the Receptionist Area</li>
            
        </ul>
        <h4>My Declaration </h4>
        <ul>
            <li>To Add Patients data after only verification</li>
            <li>No Manipluation of Fake entries</li>
            
        </ul>
        <h4>My Roles </h4>
        <ul>
            <li>Meeting and greeting clients</li>
            <li>Booking meetings</li>
            <li>Keeping the reception area tidy</li>
            <li>Answering and forwarding phone calls</li>
        </ul>
        <br />
     
    </div>






</body>


</html>

