
@{
    ViewBag.Title = "DoctorRevenue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DoctorRevenue</h2>

<div style="width:50%;height:400px">

    <img src="@Url.Action("DoctorRevenue")" />

</div>